venv/
__pycache__/
explanation.md
TOAN UDTK_Project_2-Data Fitting va OLS.pdf
pdf_content.txt
implementation_plan.md
rule.md
plots/
check.md
test.py
report/build/
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
report_outline.md 
cleaning.md 